<div class="container formulario">

    <h2 class="text-center"  >Iniciar Sesión</h2>
      
      <div class="text-danger">
          {{mensajeError}}
        </div>
  
      <form (ngSubmit)="onSubmit()"  #f="ngForm">
          <div class="form-group">
            <label for="email">Usuario:</label>
            <input type="text" class="form-control" name="nombres" [(ngModel)]="usuarioLogin.usuario"  required>
          </div>
   
            <div class="form-group pb-5">
              <label for="email">Contraseña:</label>
              <input type="password" class="form-control" name="email" [(ngModel)]="usuarioLogin.password" required>
            </div>
       
            <button type="submit" class="btn btn-primary mx-2" [disabled]="!f.valid"  >Iniciar Sesión</button>
  
        </form>
  </div>